@model Book;

@{

    IEnumerable<Category> categories = ViewData["Categories"] as IEnumerable<Category>;
    IEnumerable<Author> authors = ViewData["Authors"] as IEnumerable<Author>;
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Book</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">

            <select class="form-select" aria-label="Select category" asp-for="CategoryId">
                <option selected>Select Category</option>
                @foreach (Category category in categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">

            <label asp-for="Authors">Select authors</label>
            <select class="form-select form-multi-select" multiple="multiple" aria-label="Select author" asp-for="SelectedAuthors">
                @foreach (Author author in authors)
                {
                    <option value="@author.Id">@author.Name</option>
                }
            </select>
            <span asp-validation-for="SelectedAuthors" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Book" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

